.chat__write-container {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  /*   위 3줄이 가운데 정렬하는 방법임 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  width: 100%;
  /* padding: 0px 20px; */
  /*   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(0, 0, 0, 0.2); */
  /*   box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 13px 27px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  padding: 10px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  /*   transition: all 0.5s ease-in; */
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  animation: float 2.5s ease-in-out infinite forwards;
}

.chat__write:focus ~ .chat__icon {
  /*   display: none; */
  opacity: 0;
}

.chat__icon {
  font-size: 22px;
  transition: opacity 0.5s ease-in-out;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  background-color: white;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chats__body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chats__body .header,
.chats__body .status-bar {
  padding: 0px 20px;
}

.chats__body {
  background-image: url("D:/images/chatbg.png");
  min-height: 1000vh;
}

.chat__message {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__message .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px, rgba(0, 0, 0, 0.024) 0 -6px 16px -6px;
  text-transform: uppercase; /* 모두 다 대문자로 변경 */
  font-weight: 700px;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
  padding: 20px;
}

.incomming__message {
  align-self: flex-start;
}

@keyframes spin {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(1turn);
  }
  100% {
    transform: none;
  }
}

.incomming__message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  animation: spin 1s ease-out forwards;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.sent__message {
  align-self: flex-end;
}

.message .message__bubble {
  display: block;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.incomming__message .message__author {
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
}

.incomming__message .message__bubble {
  border-bottom-left-radius: 0px;
  /*   color: white; */
  background-image: linear-gradient(to right, #ddd6f3, #faaca8);
}

.sent__message .message__bubble {
  border-bottom-right-radius: 0px;
  /*   color: white; */
  background-image: linear-gradient(to left, #ddd6f3, #faaca8);
}

@keyframes incomingAnime {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incomming__message {
  animation: incomingAnime 0.5s ease-out forwards;
}

@keyframes sentAnime {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent__message {
  animation: sentAnime 0.5s ease-out forwards;
}
