.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend__avatar {
  width: 50px;
  border-radius: 35%;
}

.g-avatar {
  width: 70px;
}

.m-avatar {
  width: 60px;
}

.friend__column {
  display: flex;
  align-items: center;
}

.friend__avatar {
  margin-right: 15px;
}

.friend__name {
  display: block;
  /*   font-weight: 600; */
  margin-bottom: 5px;
}

.friend__bottom-text,
.friend__status {
  opacity: 0.6;
}
/* , 콤마: 2개 다 적용한다는 뜻 */

.friend__bottom-text {
  font-size: 14px;
}

.friend__status {
  font-size: 12px;
}

.friend .chat__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1.5px solid #35b863;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 12px;
}

.friend__add-btn {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
}
